@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.AccAuthUsers.RolesModel
@{
    ViewData["Title"] = "Associated Roles";

    var nameDir = string.Empty;
    var descrDir = string.Empty;

    switch (Model.SortOrder.ToLower())
    {
        case "name_asc":
            nameDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "name_desc":
            nameDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        case "descr_asc":
            descrDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "descr_desc":
            descrDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        default:
            break;
    }
}

<h5>
    @ViewData["Title"]
    <small>
        &nbsp;&nbsp;
        <a asp-page="./Details" asp-route-id="@Model.Id">Back</a>
    </small>
</h5>

<hr />

<partial name="_UserHeader" for="AccAuthUser" />

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<div class="d-md-none">
    &nbsp;
</div>

<table class="table">
    <thead>
        <tr>
            <th style="white-space: nowrap;"></th>
            <th>
                <a asp-page="./Roles"
                   asp-route-id="@Model.Id"
                   asp-route-sortOrder="@Model.NameSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Name)
                    <i class="fas @nameDir"></i>
                </a>
            </th>
            <th class="d-none d-md-table-cell">
                <a asp-page="./Roles"
                   asp-route-id="@Model.Id"
                   asp-route-sortOrder="@Model.DescrSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Description)
                    <i class="fas @descrDir"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (AccAuthRole accAuthRole in Model.GridData)
        {

        <tr>
            <td style="white-space: nowrap;">
                <form id="removerole" method="post">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" name="Name" id="name" value="@accAuthRole.Name" />
                    <button type="submit" class="btn btn-link" onclick="return confirm('Confirm Removal of Role.')">Remove</button>
                </form>
            </td>
            <td>
                @accAuthRole.Name
            </td>
            <td class="d-none d-md-table-cell">
                @accAuthRole.Description
            </td>
        </tr>
        }
    </tbody>
</table>

<acc-auth-grid-pager grid_pagecount="@Model.GridPagerModel.Grid_Pagecount"
                     grid_page="@Model.GridPagerModel.Grid_Page"
                     grid_pagesize="@Model.GridPagerModel.Grid_Pagesize"
                     grid_buttoncount="@Model.GridPagerModel.Grid_Buttoncount"
                     url="./RoleUsers">
</acc-auth-grid-pager>