@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.AccAuthRoles.RoleGroupsModel
@{
    ViewData["Title"] = "Associated Role/Groups";

    var groupDir = string.Empty;
    var catDir = string.Empty;
    var descrDir = string.Empty;

    switch (Model.SortOrder.ToLower())
    {
        case "group_asc":
            groupDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "group_desc":
            groupDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        case "cat_asc":
            catDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "cat_desc":
            catDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        case "descr_asc":
            descrDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "descr_desc":
            descrDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        default:
            break;
    }
}

<h5>
    @ViewData["Title"]
    <small>
        &nbsp;&nbsp;
        <a asp-page="./Details" asp-route-id="@Model.AccessRole.Id">Back</a>
    </small>
</h5>

<hr />

<partial name="_AccessRoleHeader" for="AccessRole" />

<form asp-page="./RoleGroups" method="get">
    <input type="hidden" asp-for="Id" />
    <div class="input-group">
        <input type="text" class="form-control" id="SearchFor" name="SearchFor" aria-describedby="emailHelp" placeholder="Search" value="@Model.SearchFor">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-secondary" asp-page="./RoleGroups" asp-route-id="@Model.Id">Clear</a>
            <a class="btn btn-secondary" asp-page="./RoleGroupAdd" asp-route-id="@Model.Id">Add</a>
        </div>
    </div>
</form>

<hr />

<partial name="_ValidationSummary" for="ViewData.ModelState" />
<partial name="_StatusMessage" for="StatusMessage" />

<div class="alert alert-danger" role="alert">
    <b>Group authorization feature not yet implemented.</b> - Sjg
</div>

<h5>Associated Groups</h5>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-page="./RoleGroups"
                   asp-route-id="@Model.AccessRole.Id"
                   asp-route-sortOrder="@Model.GroupSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Group)
                    <i class="fas @groupDir"></i>
                </a>
            </th>
            <th>
                <a asp-page="./RoleGroups"
                   asp-route-id="@Model.AccessRole.Id"
                   asp-route-sortOrder="@Model.CatSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Category)
                    <i class="fas @catDir"></i>
                </a>
            </th>
            <th>
                <a asp-page="./RoleGroups"
                   asp-route-id="@Model.AccessRole.Id"
                   asp-route-sortOrder="@Model.DescrSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Description)
                    <i class="fas @descrDir"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GridData)
        {
        <tr>
            <td>
                <a asp-page="/AccAuthRoles/RoleGroups"
                   onclick="return confirm('Confirm Removal of Role from Group.')"
                   asp-route-id="@Model.Id"
                   asp-route-removeid="@item.AccAuthGroupId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_page="@Model.GridPagerModel.Grid_Page"
                   asp-route-grid_pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-grid_pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    Remove
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>
<acc-auth-grid-pager grid_pagecount="@Model.GridPagerModel.Grid_Pagecount"
                     grid_page="@Model.GridPagerModel.Grid_Page"
                     grid_pagesize="@Model.GridPagerModel.Grid_Pagesize"
                     grid_buttoncount="@Model.GridPagerModel.Grid_Buttoncount"
                     url="./RoleGroups">
</acc-auth-grid-pager>