@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.GroupMgmtModel
@{
    ViewData["Title"] = "Groups";

    var groupDir = string.Empty;
    var catDir = string.Empty;
    var descrDir = string.Empty;

    switch (Model.SortOrder.ToLower())
    {
        case "group_asc":
            groupDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "group_desc":
            groupDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        case "cat_asc":
            catDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "cat_desc":
            catDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        case "descr_asc":
            descrDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "descr_desc":
            descrDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        default:
            break;
    }

}
<header>
    <h5>@ViewData["Title"]</h5>
</header>

<div class="alert alert-danger" role="alert">
    <b>Group authorization feature not yet implemented.</b> - Sjg
</div>

@*<form asp-page="./GroupMgmt" method="get">
    <div class="input-group">
        <input type="text" class="form-control" id="SearchFor" name="SearchFor" aria-describedby="emailHelp" placeholder="Search" value="@Model.SearchFor">*@

@*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@

@*<div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
                <a class="btn btn-secondary" asp-page="./GroupMgmt">Clear</a>
                <a class="btn btn-secondary" asp-page="./AccAuthGroups/Create">Add</a>
            </div>
        </div>
    </form>*@

@*<br />*@

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./GroupMgmt"
                   asp-route-sortOrder="@Model.GroupSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Group)
                    <i class="fas @groupDir"></i>
                </a>
            </th>
            <th>
                <a asp-page="./GroupMgmt"
                   asp-route-sortOrder="@Model.CatSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Category)
                    <i class="fas @catDir"></i>
                </a>
            </th>
            <th>
                <a asp-page="./GroupMgmt"
                   asp-route-sortOrder="@Model.DescrSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Description)
                    <i class="fas @descrDir"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GridData)
        {
        <tr>
            <td>
                <a asp-page="/AccAuthGroups/Details" asp-route-id="@item.AccAuthGroupId">@item.Group</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>
<acc-auth-grid-pager grid_pagecount="@Model.GridPagerModel.Grid_Pagecount"
                     grid_page="@Model.GridPagerModel.Grid_Page"
                     grid_pagesize="@Model.GridPagerModel.Grid_Pagesize"
                     grid_buttoncount="@Model.GridPagerModel.Grid_Buttoncount"
                     url="./GroupMgmt">
</acc-auth-grid-pager>