@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.IndexModel

@{
    ViewData["Title"] = "Users";

    string emailDir;

    switch (Model.EmailSort.ToLower())
    {
        case "email_asc":
            emailDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "email_desc":
            emailDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        default:
            emailDir = "fa-sort";
            break;
    }
}

<header>
    <h5>@ViewData["Title"]</h5>
</header>

<hr />

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<form asp-page="./Index_2" method="get">
    <div class="input-group">
        <input type="text"
               class="form-control" id="SearchFor"
               name="SearchFor" placeholder="Search" value="@Model.SearchFor">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-secondary @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index_2">Clear</a>
        </div>
    </div>
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index_2"
                   asp-route-sortOrder="@Model.EmailSort"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Email)
                    <i class="fas @emailDir"></i>
                </a>
            </th>
            <th>
                <label asp-for="@Model.GridData[0].LastLoginDateTimeUtc"></label>
            </th>
            <th>
                <label asp-for="@Model.GridData[0].EmailConfirmed"></label>
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GridData)
        {
            <tr>
                <td>
                    <a asp-page="/AccAuthUsers/Details" asp-route-id="@item.Id">@item.Email</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastLoginDateTimeUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
            </tr>
        }
    </tbody>
</table>

<acc-auth-grid-pager grid_pagecount="@Model.GridPagerModel.Grid_Pagecount"
                     grid_page="@Model.GridPagerModel.Grid_Page"
                     grid_pagesize="@Model.GridPagerModel.Grid_Pagesize"
                     grid_buttoncount="@Model.GridPagerModel.Grid_Buttoncount"
                     url="./Index_2">
</acc-auth-grid-pager>