@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.AccAuthInvites.InviteRoleAddModel
@{
    ViewData["Title"] = "Associate";

    var nameDir = string.Empty;
    var catDir = string.Empty;
    var descrDir = string.Empty;

    switch (Model.SortOrder.ToLower())
    {
        case "name_asc":
            nameDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "name_desc":
            nameDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        case "cat_asc":
            catDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "cat_desc":
            catDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        case "descr_asc":
            descrDir = "fa-sort-alpha-up"; // "fa-sort-up";
            break;
        case "descr_desc":
            descrDir = "fa-sort-alpha-down"; //"fa-sort-down";
            break;
        default:
            break;
    }
}

<h5>
    @ViewData["Title"]
    <small>
        &nbsp;&nbsp;
        <a asp-page="./InviteRoles" asp-route-id="@Model.AccAuthInvite.AccAuthInviteId">Back</a>
    </small>
</h5>

<hr />

<partial name="_InviteHeader" for="AccAuthInvite" />

<form asp-page="./InviteRoleAdd" method="get">
    <input type="hidden" asp-for="Id" />
    <div class="input-group">
        <input type="text" class="form-control" id="SearchFor" name="SearchFor" aria-describedby="emailHelp" placeholder="Search" value="@Model.SearchFor">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-secondary" asp-page="./InviteRoleAdd" asp-route-id="@Model.Id">Clear</a>
        </div>
    </div>
</form>

<hr />

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<h5>Roles</h5>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-page="./InviteRoleAdd"
                   asp-route-id="@Model.AccAuthInvite.AccAuthInviteId"
                   asp-route-sortOrder="@Model.NameSort"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Name)
                    <i class="fas @nameDir"></i>
                </a>
            </th>
            <th>
                <a asp-page="./InviteRoleAdd"
                   asp-route-id="@Model.AccAuthInvite.AccAuthInviteId"
                   asp-route-sortOrder="@Model.CatSort"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Category)
                    <i class="fas @catDir"></i>
                </a>
            </th>
            <th>
                <a asp-page="./InviteRoleAdd"
                   asp-route-id="@Model.AccAuthInvite.AccAuthInviteId"
                   asp-route-sortOrder="@Model.DescrSort"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_Page="1"
                   asp-route-grid_Pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-grid_Pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_Buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    @Html.DisplayNameFor(model => model.GridData[0].Description)
                    <i class="fas @descrDir"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GridData)
        {
        <tr>
            <td>
                <a asp-page="/AccAuthInvites/InviteRoleAdd"
                   onclick="return confirm('Confirm Addition of Role to Group.')"
                   asp-route-id="@Model.Id"
                   asp-route-addid="@item.Id"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-SearchFor="@Model.SearchFor"
                   asp-route-grid_page="@Model.GridPagerModel.Grid_Page"
                   asp-route-grid_pagecount="@Model.GridPagerModel.Grid_Pagecount"
                   asp-route-grid_pagesize="@Model.GridPagerModel.Grid_Pagesize"
                   asp-route-grid_buttoncount="@Model.GridPagerModel.Grid_Buttoncount">
                    Add
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>
<acc-auth-grid-pager grid_pagecount="@Model.GridPagerModel.Grid_Pagecount"
                     grid_page="@Model.GridPagerModel.Grid_Page"
                     grid_pagesize="@Model.GridPagerModel.Grid_Pagesize"
                     grid_buttoncount="@Model.GridPagerModel.Grid_Buttoncount"
                     url="./InviteRoles">
</acc-auth-grid-pager>