@inject Sjg.IdentityCore.Services.IAccAuthConfiguration accAuthConfiguration

@{
    var title = accAuthConfiguration.SiteTitle;
}

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-3 rounded site-navebar">

        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <i class="fa fa-home fa-fw"></i>&nbsp;@title
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-area="UserMgmt" asp-page="/Index">Users</a>
                <a class="nav-link @ManageNavPages.RoleMgmtNavClass(ViewContext)" asp-area="UserMgmt" asp-page="/RoleMgmt">Roles</a>
                @*<a class="nav-link @ManageNavPages.GroupMgmtNavClass(ViewContext)" asp-area="UserMgmt" asp-page="/GroupMgmt">Groups</a>*@
                <a class="nav-link @ManageNavPages.InvitationMgmtNavClass(ViewContext)" asp-area="UserMgmt" asp-page="/InvitationMgmt">Invitations</a>
                <a class="nav-link @ManageNavPages.ConfigMgmtNavClass(ViewContext)" asp-area="UserMgmt" asp-page="/ConfigMgmt">Configuration</a>
            </div>
        </div>
    </nav>
</div>